node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/dist-server
logs.*.json
/artifacts

# Generated Prisma client
/src/generated/prisma
/generated/prisma

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.production.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
